[include]
	path = ~/dotfiles/git/theme.gitconfig
[user]
	email = v.kiennt54@vinai.io
	name = Kien T. Nguyen
[core]
	editor = vim
	pager  = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = flexible
    line-numbers = true
    side-by-side = true
