[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".raichu_startpage"]
	path = .raichu_startpage
	url = git@github.com:kiennt63/raichu_startpage.git
[submodule "startpages/raichu_startpage"]
	path = startpages/raichu_startpage
	url = git@github.com:kiennt63/raichu_startpage.git
